table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: rgb(255, 255, 255);
    border: 1px solid #818181;
}

.right {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: small;
    color: #ffffff;
}

td,
th {
    text-align: left;
    font-size: medium;
    border-bottom: 1px solid #818181;
    padding: 3px;
}

tr:first-child {
    background-color: #080808;
}

a {
    color: rgb(179, 188, 240);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

a:active {
    color: white;
}

.robTable {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.myTitle {
    font-family: Helvetica, sans-serif;
    font-size: small;
    color: #ffffff;
    text-align: center;
}

.tableP {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: small;
    color: #ffffff;
}
