body {
    background-color: rgb(0, 0, 0);
}

.Ascii {
    max-width: 71ch;
    word-wrap: normal;
    word-break: break-all;
    white-space: pre-wrap;
    display:block;
    height: auto;

    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.0;
    font-family: Courier, monospace;

}

.title{
    color: white;
    font-family: Courier, monospace;
    font-size: 14px;
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
}

.otherText{
    color: white;
    font-family: Courier, monospace;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
}

