body {
    background-color: rgb(0, 0, 0);
}

.Ascii {
    max-width: 71ch;
    word-wrap: break-word;
    height: auto;

    font-size: 8px;
    letter-spacing: 0;
    line-height: 1.15;
    font-family: Courier, monospace;
    text-align: left;

    border: 0px;
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

.title {
    color: white;
    font-family: Courier, monospace;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
}

.secondaryText {
    color: white;
    font-family: Courier, monospace;
    text-align: left;
    padding-inline: 5px;
}

.buttonsText {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    line-height: 24px;
    padding-inline: 5px;
}

.buttonsText:visited {
    color: white;
    text-align: left;
}

.buttonsText:active {
    color: white;
}

.buttonsText:hover {
    color: rgb(206, 189, 157);
}

.Bio {
    color: white;
    text-align: left;
    max-width: 50ch;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 650px) {
    .Ascii {
        font-size: 6px; /* The width is 100%, when the viewport is 800px or smaller */
        max-width: 71ch;
    }
}
